<head>
  <%= stylesheet_pack_tag 'header' %>
</head>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <div class="aligner">
      <%= link_to root_path, class: 'navbar-brand aligner-item' do %>
        <img src="https://png.icons8.com/color/1600/ruby-gem.png" width="40" height="40" alt="">
      <% end %>
    </div>
  </div>
</nav>
