<head>
  <%= stylesheet_pack_tag 'header' %>
</head>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header aligner">
    <a class="navbar-brand aligner-item" href="#">
      <img src="https://png.icons8.com/color/1600/ruby-gem.png" width="40" height="40" alt="">
    </a>
  </div>
  <div class='container'>
  </div>
</nav>
