<% @body_id = 'home-page' %>

<head>
  <%= javascript_pack_tag 'home' %>
  <%= stylesheet_pack_tag 'home' %>
</head>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render 'spree/shared/products', products: @products %>
  <% end %>
</div>
